{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 3%; padding-bottom: 1%">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card" style="border-color: midnightblue">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if object.company_icon %}
                                    <img src="{{ object.company_icon.url }}" alt="" class="rounded-circle" width="150">
                                {% else %}
                                    <img src="{% static 'images/companyDefaultLogo.png' %}" alt=""
                                         class="rounded-circle" width="150">
                                {% endif %}

                                <div class="mt-3" style="width: 100%">
                                    <h1>{{ object.name }}</h1>
                                    <hr>
                                    <small>Email:</small>
                                    <p class="text-secondary mb-1 d-inline">{{ object.user.email }}</p>
                                    {% if object.bulstat %}
                                        <hr>
                                        <small>Bulstat:</small>
                                        <p class="text-secondary mb-1 d-inline">{{ object.bulstat }}</p>
                                    {% endif %}
                                    {% if object.website %}
                                        <hr>
                                        <small>Website:</small>
                                        <p class="text-secondary mb-1 d-inline">{{ object.website }}</p>
                                    {% endif %}
                                    {% if is_profile_owner %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <hr>
                                                <a class="btn btn-md btn-outline-secondary"
                                                   href="{% url 'company edit' object.user_id %}">Edit profile</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters-sm" style="padding-top: 5%">
                        <div class="col-sm-12 mb-3">
                            <div class="card h-100" style="border-color: midnightblue">
                                <div class="card-body">
                                    <h4 class="d-flex align-items-center mb-3">Job adverts: {{ jobs_list.count }}</h4>
                                    {% for job in jobs_list %}
                                        <a href="{% url 'job detail' job.id %}"
                                           class="list-group-item list-group-item-action"
                                           style="border-color: midnightblue">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1">{{ job.title }}</h6>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            <hr>
                            {% if is_profile_owner %}
                                <div class="card-body">
                                    <h4 class="d-flex align-items-center mb-3">Applications: {{ application_list.count }}</h4>
                                    {% for application in application_list %}
                                        <a href="{% url 'application detail' application.id %}"
                                           class="list-group-item list-group-item-action"
                                           style="border-color: midnightblue">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1">Job: {{ application.job.title }}</h6>
                                                <h6 class="mb-1">
                                                Applicant: {{ application.applicant.first_name }} {{ application.applicant.last_name }}</h6></p>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style="border-color: midnightblue">
                        <div class="card-body">
                            {% if object.company_banner %}
                                <img class="card-img-top" style="" src="{{ object.company_banner.url }}"
                                     alt="Company banner">
                                <hr>
                            {% elif is_profile_owner %}
                                <p>Upload a profile banner from the edit button</p>
                            {% endif %}
                            {% if object.description %}
                                <h6 class="mb-0" style="padding-bottom: 2%">Description</h6>
                                <div class="col-sm-12 text-secondary">{{ object.description }}</div>
                            {% elif is_profile_owner %}
                                <hr>
                                <p>Add your company description from the edit button</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}