{% extends 'shared/base.html' %}

{% block content %}
    <div class="card mb-3" style="margin-top: 3%; border-color: midnightblue">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>{{ application.applicant.first_name }} {{ application.applicant.last_name }}</h2>
                        <h4>{{ application.applicant.user.email }}</h4>
                        <br>
                        <h5>Applies for:</h5>
                        <h5>{{ application.job.title }}</h5>
                    </div>
                    <div class="col-md-3">
                        {% if application.applicant.profile_image %}
                            <img src="{{ application.applicant.profile_image.url }}" alt="" class="rounded-circle"
                                 width="150">
                        {% endif %}
                    </div>
                    <div class="col-md-5 card" style="padding-top: 1%">
                        <h4>Bio:</h4>
                        <p><h6>{{ application.applicant.bio }}</h6></p>
                    </div>
                    <div class="col-xs-12 card" style="padding: 2%; margin-top: 3%; margin-bottom: 3%">
                        <h6>Motivational letter:</h6>
                        <p>
                            <h7>{{ application.motivational_letter }}</h7>
                        </p>
                    </div>
                    <div class="col-xs-12">
                        {% if application.cv %}
                            <a href="{{ application.cv.url }}" download>Download CV</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}