{% extends 'shared/base.html' %}

{% block content %}

    <br>
    <h1 class="text-center">All Jobs</h1>
    <br>
    <form method="get">
        {{ filter.form }}
        <button type="submit" class="btn btn-md btn-outline-secondary">Apply filters</button>
    </form>
    <br>

    {% if not object_list %}
        <h6>No result for the provided search filter.</h6>
    {% else %}
        {% for obj in object_list %}
            <a href="{% url 'job detail' obj.id %}" class="list-group-item list-group-item-action"#}
               style="border-color: midnightblue">
                <small>{{ obj.date_created|date:"d/m/y" }}</small>
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{ obj.title }}</h4>
                    <h5>{{ obj.user.companyprofile.name }}</h5>
                </div>
                <h6 style="display: inline">{{ obj.location }}</h6>
                {% if obj.salary %}
                    <h6 style="display: inline">| Salary - {{ obj.salary }} BGN</h6>
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}

    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <li style="display: inline">
                        <a href="?{{ queries.urlencode }}&amp;page=1"><i class="page-link fa fa-angle-double-left"></i></a>
                    </li>
                    <li style="display: inline">
                        <a href="?{{ queries.urlencode }}&amp;page={{ page_obj.previous_page_number }}"><i
                                class="page-link fa fa-angle-left"></i></a>
                    </li>
                {% else %}
                    <li style="display: inline" class="page-item disabled">
                        <a href="#" class="page-link fa fa-angle-double-left"></a>
                    </li>
                    <li style="display: inline" class="page-item disabled">
                        <a href="#" class="page-link fa fa-angle-left"></a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-link" style="display: inline; background-color: midnightblue">
                            <a href="#" style="color: white">{{ i }}</a>
                        </li>
                    {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                        <li style="display: inline">
                            <a class="page-link" href="?{{ queries.urlencode }}&amp;page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li style="display: inline">
                        <a href="?{{ queries.urlencode }}&amp;page={{ page_obj.next_page_number }}"><i
                                class="page-link fa fa-angle-right"></i></a>
                    </li>
                    <li style="display: inline">
                        <a href="?{{ queries.urlencode }}&amp;page={{ page_obj.paginator.num_pages }}"><i
                                class="page-link fa fa-angle-double-right"></i></a>
                    </li>
                {% else %}
                    <li style="display: inline" class="page-item disabled">
                        <a href="#" class="page-link fa fa-angle-right"></a>
                    </li>
                    <li style="display: inline" class="page-item disabled">
                        <a href="#" class="page-link fa fa-angle-double-right"></a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <p></p>
{% endblock %}
