{% extends 'shared/base.html' %}

{% block content %}
    <div class="card mb-3" style="margin-top: 3%; border-color: midnightblue">
        {% if job.image %}
            <img class="card-img-top" style="" src="{{ job.image.url }}" alt="Card image cap">
        {% elif job.user.companyprofile.company_banner %}
            <img class="card-img-top" style="" src="{{ job.user.companyprofile.company_banner.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h4 class="card-title">{{ job.title }}</h4>
            <p><small></small></p>
            <small><b>Category:</b> {{ job.category.title }} <b>Location:</b> {{ job.location }}<b>
                Type:</b> {{ job.type }}</small></p>
            {% if job.salary %}
                <small> <b>Salary</b> - {{ job.salary }} BGN</small>
            {% endif %}
            <p></p>
            <p class="card-text">{{ job.description }}</p>
            <br>
            {% if request.user.is_company %}
                {% if is_profile_owner %}
                    <a href="{% url 'job edit' job.id %}"
                       class="btn btn-md btn-outline-warning">Edit</a>
                    <form style="display: inline" action="{% url 'job delete' job.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-md btn-outline-danger"
                                onclick="return confirm('Are you sure you want to delete this job advert?');">Delete
                        </button>
                    </form>
                {% endif %}
            {% else %}
                {% if request.user.is_applicant %}
                    <p class="text-center"><a href="{% url 'application create' object.id %}"
                                              class="btn btn-lg btn-outline-success"><b>Apply</b></a></p>
                {% else %}
                    <p class="text-center"><a href="{% url 'log in' %}"
                                              class="btn btn-lg btn-outline-success"><b>Apply</b></a></p>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer">
            {% if job.user.companyprofile.company_icon %}
                <img src="{{ job.user.companyprofile.company_icon.url }}" alt="companyIcon" class="rounded-circle"
                     width="150">
            {% endif %}
            <h3 class="d-inline">
                <a href="{% url 'company profile' job.user_id %}"
                   class="btn-light"><b>{{ job.user.companyprofile.name }}</b></a>
            </h3>
        </div>
    </div>

{% endblock %}
