{% extends 'shared/base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-5 text-align-center" style="padding-top: 3%;">
            <h6>Forgot your account password or having trouble logging in? Enter your email below and we will send you recovery link</h6>
            <br>
            <form action="{% url 'reset_password' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary">Send recovery email</button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}