{% extends 'shared/base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-5 text-align-center" style="padding-top: 3%;">
            <h5>Password reset email sent</h5>
            <p>We've emailed you instructions for resetting your password. If an account exists with the email you've
                entered, you should receive them shortly.
                If you don’t receive an email, please make sure you’ve entered the email you registered with, and check
                your spam folder.</p>
            <br>
        </div>
    </div>
{% endblock %}